
.navbar{
    
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    position:fixed;
}

.logo{
    position:fixed;
    left: 20px;
    width: 80px;
}

.avatar{
    position:fixed;
    right: 20px;
    width: 30px;
}